html {
    font-size: clamp(14.5px,3.7vw,16px);
}

.eventGroup {
    margin: 2rem 0;
}

/*最初のeventGroup*/
.eventGroup:first-child {
    
}

/*イベント名と開始日の枠*/
.frameBox {
    padding: 0.7em 1em;
    margin: 0 0.1rem;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}

/*イベント名*/
.eventName {
    margin: 0;
}

/*開始日*/
.startDate {
    margin: 0.5rem 0 0 0;
}

.startDate::before {
    background-image: url(素材/カレンダー.svg);
}

/*撮影日*/
.takeDate::before {
    background-image: url(素材/カメラ.svg);
}

/*開始日と撮影日に共通*/
.Date::before {
    content: '';
    height: 0.7rem;
    width: 0.7rem;
    display: inline-block;
    background-size: contain;
    margin-right: 0.2rem;
}

.Date {
    font-size: 0.7rem;
}

/*サブグループ*/
.subgroup {
    font-size: 0.9rem;
}

/*ファイル名*/
.fileName {
    font-size: 0.85rem;
}

/*ファイルの格納場所*/
.inFile {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

/*画像*/
.photoes {
    width: calc(100vw / 3);
    max-width: 180px;
    height: calc(100vw / 3);
    max-height: 180px;
    object-fit: cover; /*縦横比固定で領域を埋める*/
}

/*縦長*/
@media screen and (orientation: portrait) {
    #photo {
        margin-top:5.6vh;
    }
}

/*横長*/
@media screen and (orientation: landscape) {
    #photo {
        margin-top: 50px;
    }
}