/*開始日*/
.startDate::before {
    background-image: url(素材/カレンダー.svg);
}

/*撮影日*/
.takeDate::before {
    background-image: url(素材/カメラ.svg);
}

/*開始日と撮影日に共通*/
.Date::before {
    content: '';
    height: 1rem;
    width: 1rem;
    display: inline-block;
    background-size: contain;
    margin-right: 0.2rem;
}

/*画像*/
.photoes {
    width: 100px;
    height: 100px;
    object-fit: cover; /*縦横比固定で領域を埋める*/
}

/*縦長*/
@media screen and (orientation: portrait) {
    #photo {
        margin-top:5.6vh;
    }
}

/*横長*/
@media screen and (orientation: landscape) {
    #photo {
        margin-top: 50px;
    }
}