html {
    font-size: clamp(14.5px,3.7vw,16px);
}

.eventGroup {
    margin: 2rem 0;
}

/*最初のeventGroup*/
.eventGroup:first-child {
    
}

/*イベント名と開始日の枠*/
.frameBox {
    padding: 0.7rem 1rem;
    margin: 0 0.1rem;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}

/*イベント名*/
.eventName {
    margin: 0;
}

/*開始日*/
.startDate {
    margin: 0.5rem 0 0 0;
}

.startDate::before, #startDate::before {
    background-image: url(素材/カレンダー.svg);
}

/*撮影日*/
.takeDate::before {
    background-image: url(素材/カメラ.svg);
}

#startDate::before {
    filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(146deg) brightness(107%) contrast(106%); /*white*/ /*https://echovision-studio.com/blog/tips-svg-color/で色生成*/
}

/*開始日と撮影日に共通*/
.Date::before {
    content: '';
    height: 0.7rem;
    width: 0.7rem;
    display: inline-block;
    background-size: contain;
    margin-right: 0.2rem;
    filter: invert(9%) sepia(2%) saturate(1005%) hue-rotate(22deg) brightness(100%) contrast(83%); /*#292928*/
}

.Date {
    font-size: 0.7rem;
}

/*サブグループ*/
.subgroupName {
    font-size: 0.9rem;
}

/*ファイル名*/
.fileName {
    font-size: 0.85rem;
}

/*ファイルの格納場所*/
.inFile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*画像*/
.photoes {
    width: calc(100% / 3);
    max-width: 180px;
    aspect-ratio: 1 / 1; /* 幅と高さの比率を1:1にする */
    object-fit: cover; /*縦横比固定で領域を埋める*/
}

/*ファイル情報表示*/
#fileDataUp, #fileDataDown {
    padding: 0;
    height: 0rem;
    position: fixed;
    left: 0;
    background: #262626;
}

#fileDataUp {
    top: 0;
}

#fileDataDown {
    bottom: 0;
}

.fade p {
    color: white;
}

#fileDataUp .fade {
    display: flex;
    align-items: center;
    padding: 0.8rem;
}

#fileDataDown .fade {
    padding: 0.7rem;
}

#fileData div {
    width: 100%;
}

#fileData p {
    color: white;
    margin: 0 0 0.5rem 0;
}

#pictureL {
    width: 1.3rem;
    height: 1.3rem;
    padding: 0;
    /* 背景色を無色に */
    background: transparent;
    /* 枠線を消す */
    border: none;
    /* クリックした際に枠線をnone消す */
    outline: none;
    /* 影を消す */
    box-shadow: none;
    margin-right: 0.5rem;
}

#pictureL img {
    filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(146deg) brightness(107%) contrast(106%); /*white*/
    width: 100%;
}

/*ファイル情報表示アニメーション*/
#fileDataUp.active, #fileDataUp.closing, #fileDataDown.active, #fileDataDown.closing{
    animation-duration: 0.6s; /*0.6秒かけてアニメーション*/
    animation-timing-function: ease-out;/*終了時だけなめらかにアニメーション*/
    animation-fill-mode: both;/*アニメーション終了時の状態を維持*/
}

#fileDataUp.active {
    animation-name: extendUp; /*アニメーション定義*/
}

#fileDataUp.closing {
    animation-name: shrinkUp; /*アニメーション定義*/
}

#fileDataDown.active {
    animation-name: extendDown; /*アニメーション定義*/
}

#fileDataDown.closing {
    animation-name: shrinkDown; /*アニメーション定義*/
}

/*伸縮アニメーション*/
/*fileDataUp*/
@keyframes extendUp{
    0%{
      height: 0rem;
    }
    
    100%{
      height: 3.7rem;
    }
}

@keyframes shrinkUp{
    0%{
      height: 3.7rem;
    }
    
    100%{
      height: 0rem;
    }
}

/*fileDataDown*/
@keyframes extendDown{
    0%{
      height: 0rem;
    }
    
    100%{
      height: 2.2rem;
    }
}

@keyframes shrinkDown{
    0%{
      height: 2.2rem;
    }
    
    100%{
      height: 0rem;
    }
}

/*縮むアニメーション*/
@keyframes shrink{
    0%{
      height: 5.2rem;
    }
    
    100%{
      height: 0rem;
    }
}

.fade {
    opacity: 0;
}

#fileDataUp.active .fade, #fileDataUp.closing .fade, #fileDataDown.active .fade, #fileDataDown.closing .fade {
    animation-duration: 0.6s; /*0.6秒かけてアニメーション*/
    animation-timing-function: linear;/*一定速度でアニメーション*/
    animation-fill-mode: both;/*アニメーション終了時の状態を維持*/
}

#fileDataUp.active .fade, #fileDataDown.active .fade {
    animation-name: fadein; /*アニメーション定義*/
}

#fileDataUp.closing .fade, #fileDataDown.closing .fade {
    animation-name: fadeout; /*アニメーション定義*/
}


/*フェードイン・アウトアニメーション*/
@keyframes fadein{
    0%{
      opacity: 0;
    }
    
    100%{
      opacity: 1;
    }
}

@keyframes fadeout{
    0%{
      opacity: 1;
    }
    
    100%{
      opacity: 0;
    }
}
/*アニメーション終了*/

#eventName {
    font-size: 0.9rem;
    line-height: 0.9rem;
    margin: 0 0 0.5rem 0;
}

#startDate {
    font-size: 0.7rem;
    line-height: 0.7rem;
    margin: 0;
}

#subGroup {
    font-size: 0.8rem;
}

#fileName {
    font-size: 0.75rem;
}

#row {
    text-align: right;
    line-height: 0.8rem;
    margin: 0;
}

/*縦長*/
@media screen and (orientation: portrait) {
    #photo {
        margin-top:5.6vh;
    }
}

/*横長*/
@media screen and (orientation: landscape) {
    #photo {
        margin-top: 50px;
    }
}